server {
    listen       80;
    server_name  thinkphp.lo;
    root   /var/www;
    index  index.html index.htm index.php;

    error_page  404              /404.html;
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location ~ \.php {
        fastcgi_pass php:9000;

        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO       $fastcgi_path_info;

        include fastcgi_params;
    }

    # 禁止执行php脚本的目录
    location ~ /Uploads/.*\.php$ {
        deny all;
    }

    # 禁止访问.htaccess
    location ~ /\.ht {
        deny  all;
    }


    # 单入口文件可以 隐藏index.php
    if (!-e $request_filename)
    {
        # 多入口文件的项目应注释此行, 并在项目中的url模式设为:普通模式,兼容模式,pathinfo模式之一. 
        rewrite ^/(index.php/)?(.*)$ /index.php/$2;
    }
}
