server {
  listen      80;
  server_name zf.lo;

  set $root_path '/var/www';
  root $root_path;
  root        /usr/share/nginx/html;
  index       index.html index.htm index.php;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  location ~ \.php$ {
    root $root_path;
    fastcgi_pass   php:9000;
    fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include        fastcgi_params;
  }
}
